html {
    box-sizing: border-box;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    height: 100%;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100%;
  }
  
  